
@model IEnumerable<lab14.Models.Categories>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    <!--hipervinculo nombre , metodo //-->
    @Html.ActionLink("Nueva Categoria", "Create")
</p>
<table>
    <tr>
        <th>
            <!--cabecera de la lista //-->
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    <!--recorre cada entidad de la coleccion//-->
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <!--hipervinculo nombre , metodo //-->
                @Html.ActionLink("Editar", "Edit", new { id = item.CategoryID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.CategoryID }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.CategoryID })
            </td>
        </tr>
    }
</table>

